.snakemake/
logs/
results/
*.fastq.gz
tmp/
data/gtdb_tk
data/meteor_db
__pycache__/
benchmarks/
config/gurobi.lic
workflow/scripts/config_generator/defaults.py
workflow/scripts/config_generator/config.yaml
workflow/scripts/config_generator/Snakefile